

*{
    box-sizing: border-box;
}
body{
    float: left;
    justify-content: center;
    align-items: center;
}
.overlay-content{
    float: left;
    width: 250px;
    height: 250px;
    background-size: cover;
    position: relative;
    color: white;
    overflow: hidden;
}
.overlay-text{
    background-color: red rgba(22, 21, 21, 0.85);
    width: 100%;
    position: absolute;
    top: 60px;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    padding-top: 30px;
    font-family: 'Roboto', sans-serif;
}
.overlay-content:hover .overlay-text{
    bottom:0;
    opacity: 1;
    top: 0px;
    background-color: rgba(0, 255, 255, 0.7);
    
}
h3{
    text-align: center;
    padding-top: 180px;
}

.overlay-text button{
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.07);
    color: white;
    font-weight: 600;
    border: 1px solid;
}

.bigimg{
    margin-left: 50px;
   

}

